.sim {
    --gamesome-pink: #dd2e5a;
    --blue: #0075ff;
    --white: #fff;
    --border-color: #d9d9d9;
  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .sim-grid {
    margin: 20px 0;
    display: grid;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
  
  .sim-grid__label {
    margin-bottom: 16px;
  }
  
  .sim-info{
    max-width: 800px;
    margin: auto;
    /* text-align: center; */
    text-align: justify;
  }
  .sim-info {
    animation: fadeInUp 0.5s ease-out;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  .sim-info h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .sim-info p {
    color: #666;
    line-height: 1.6;
  }
  
  .sim-info ul {
    margin-top: 10px;
  }
  
  
  
  .sim-cell {
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    background: transparent;
  }
  
  .sim-cell__X {
    background: var(--gamesome-pink);
  }
  
  .sim-cell__O {
    background: var(--blue);
  }
  
  .sim-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .sim-ctrl-group {
    margin: 20px;
  }
  
  .btn {
    outline: none;
    cursor: pointer;
    line-height: 1em;
    border: none;
    max-height: 32px;
    padding: 8px 16px;
    margin-bottom: 5px;
    color: var(--white);
    background: var(--gamesome-pink);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: filter 0.3s ease;
  }
  
  button:hover {
    filter: brightness(1.1);
  }
  
  button:active {
    filter: brightness(0.9);
  }
  
  .sim-sliders {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
  }
  